@model IEnumerable<Bookfinder.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Leitores Cadastrados</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success">
                    <i class="fa-solid fa fa-pencil"></i> Novo usuário
                </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="font-size: 30px">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="text-align: right; white-space: nowrap;">
                    <a href="@Url.Action("Details", new {id = item.Id})" class="btn btn-primary">
                        <i class="fa-solid fa fa-star"></i> Detalhes
                </a>

                <a href="@Url.Action("Edit", new {id = item.Id})" class="btn btn-secondary">
                    <i class="fa-solid fa fa-pencil"></i> Editar
                </a>
            
                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i> Excluir
                </a>
            </td>   
        </tr>
}
    </tbody>
</table>



    
                